@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root {
  /* INFO: Solid Colors */
  --black: #000000;
  --white: #FBF8EF;
  --light-blue: #C9E6F0;
  --blue: #78B3CE;
    --gray: #36393e;
    --orange: #F96E2A;
  /* INFO: font-family */
  --font-family: 'Tiny5', sans-serif  ;
  --font-size: 16px;
}

/* INFO: Reset To Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INFO: Body Styles */

body {
  font-family: var(--font-family);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: var(--font-size);
  background-color: var(--white);
}
